# Tell git to ignore following

# files without ending(doesn't seem to work)
#*
#!/**/
#!/*.*

# folders
build*
#data*
Old*
Exclude*

#compiled files
*.o
*.exe
*.out
*.slo
*.lo
*.obj
#Qt
*.pro.user

#images
*.png
*.jpg
*.pdf

#latex
*.aux
*.pdf
*.log
*.out
*.gz
*.dvi
*.xml
*.blg
*.bcf
#*.bib

#pycache
*.pyc
