# Tell git to ignore following

# files without ending(doesn't seem to work)
#*
#!/**/
#!/*.*

# folders
build

#compiled files
*.o
*.out
*.slo
*.lo
*.obj
#Qt
*.pro.user

#images
*.png
*.jpg

#latex
*.aux
*.bib
*.pdf
*.log
*.out
*.gz
*.dvi

#pycache
*.pyc
